@charset "UTF-8";
.page-other {
    margin-top: 8.0625rem;
}
@media (max-width: 61.99875em) {
    .page-other {
        margin-top: 6.125rem;
    }
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}
:root {
    --primary-color: #2AFFF2; /* Змінна з основним кольором */
}


body {
    color: var(--primary-color);

    line-height: 1;

    font-size: 0.875rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*STYLE HEADER*/

.logo__block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    background-color: #131129;
}
.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 456px;
    height: 56px;
    background-color: #322B54;
    border-radius: 20px;
}

.search__input{
    width: 400px;
    height: 56px;
    background-color: #322B54;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 22px;

}
.search__input:focus {
    outline: none; /* Вимикаємо стандартну рамку вибору */
}

.fa-solid{
    font-size: 30px;

    color:  rgba(42, 255, 242, 1);

}
.basket{

    width: 169px;
    height: 56px;
    background-color: #322B54;
    border-radius: 20px;

}
.registration__button{
    width: 169px;
    height: 56px;
    background-color: #322B54;
    border-radius: 20px;
    color:  #FFFFFF;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.nav__block{
    background-image: url("../images/header/fon-header.png");
    position: relative;
    width: 100%;
    height: 699px;
}
.watch{
    font-size: 55px;
    position: absolute;
    margin: 8rem;
    font-family: Roboto, Arial, sans-serif;
    background: linear-gradient(180deg, #95ECFF 0%, #AC0B9C 130.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.box__arrow{
    display: flex;

    flex-direction: column;
}
.arrow {


    width: 38px;
    height: 38px;
    border-top: 3px solid  #22D7FF;
    border-right: 3px solid  #22D7FF;
    border-radius: 5px;

}
.arrow_top{
    width: 2rem;
    height: 2rem;
}
.arrow_centr{
    width: 3rem;
    height: 3rem;

}
.arrow_dol{
    width: 4rem;
    height: 4rem;

}
.arrow-bottom {
    transform: rotate(135deg);
}


.episodes{
    display: flex;
    justify-content: space-around;

}
.episod{
    background-image: url("../images/header/backgroundEpisod.png");
    background-repeat: no-repeat;
    margin-top: 34rem;

    z-index: 1000;
    width:220px ;
    height: 250px;
}
.episod__style{
    margin: 0 auto;
    margin-top: 5px;
    width:210px ;
    height: 240px;
    background-repeat: no-repeat;

}


.episod__one{
    background-image: url("../images/header/episodOne.png");

}
.episod__two{
    background-image: url("../images/header/episodTwo.png");
}
.episod__three{
    background-image: url("../images/header/episodThree.png");
}
.episod__four{
    background-image: url("../images/header/episodFour.png");
}
.episod__five{
    background-image: url("../images/header/episodFive.png");
}



.nav_button{
    margin-top: 118px;
    display: flex;
    justify-content: space-around;
}
.nav_button a{
    width:193px ;
    height: 44px;
    background: linear-gradient(180deg, rgba(70, 167, 188, 0.64) 0%, rgba(38, 127, 147, 0.49) 100%);
    border-top: 2px solid  rgba(42, 255, 242, 1);
    border-bottom: 2px solid rgba(178, 80, 212, 0.9);
    border-left: 2px solid rgba(70, 167, 188, 0.64) ;
    border-right: 2px solid rgba(38, 127, 147, 0.49) ;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Open Sans';
    text-decoration: none;
    color:#E4F4F8;
    font-size:16px;
    font-weight: 600;

}

.header__botton{
    position: absolute;
    top: 695px;
    width: 100%;
    height: 199px;
    background-image: url("../images/header/fon-header-botton.png");
}
.nav__end{
    width: 100%;
    height: 150px;
    margin-top: 35px;
    background-color: #0A1428;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav__end a {
    position: relative;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}
.nav__link:hover{
    color:rgba(255, 183, 42, 1) ;
}
.nav__link::before {
    content: " ";
    position: absolute;
    left: -17px;
    top: -8px;
    bottom: -7px;
    right: 90%;
    border: 3px solid rgba(42, 255, 242, 1);
    border-radius: 10px 0 0 10px;
    border-right: none;
}
/*end header*/
.sort__list{
    margin-top: 343px;
    background: #020711 ;

}
.sort__menu{
    display: flex;
}
.sort__menu__item {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:185px ;
    height: 44px;
    background: linear-gradient(180deg, #6E75B5 0%, #3DC9E8 100%);
    border-radius: 20px;

}
.sort__menu__item:hover{
    
    background: linear-gradient(180deg, #B891F7 0%, #1D71EF 100%);
    color: #FFB72A;

}
.sort__menu__link{
    color:#072231 ;
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans";
    text-decoration: none;

}


.icons__sort{
    margin: 25px;
    display: flex;
}
.icons__sort div {
    width: 80px;
    height: 80px;
}